<!DOCTYPE html>
<html ng-app="notifyteApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/img/favicon.ico">

    <title>Notifyte</title>

    <!-- CSS -->
    <link href="../static/vendors/css/bootstrap.css" rel="stylesheet">
    <link href="../static/vendors/css/font-awesome.css" rel="stylesheet">
    <link href="../static/css/notifyte.css" rel="stylesheet">

    <!-- JS -->
    <script>window.$ = window.jQuery = require('../static/vendors/js/jquery.js');</script>
    <!-- <script src="../static/vendors/js/jquery.js"></script> -->
    <script src="http://localhost:7777/socket.io/socket.io.js"></script>
    <script src="../static/vendors/js/bootstrap.js"></script>
    <script src="../static/vendors/js/angular.js"></script>
    <script src="../static/vendors/js/angular-resource.js"></script>
    <script src="../static/vendors/js/angular-route.js"></script>
    <script src="../static/vendors/js/scrollglue.js"></script>
    <script src="../static/js/notifyte-app.js"></script>
    <script src="../static/js/notifyte-controllers.js"></script>
    <script src="../static/js/notifyte-services.js"></script>
  </head>
  <body>
    <!-- Side Bar -->
    <div class="sidebar" ng-controller="notificationController">
      <div class="container-fluid">
        <div class="nav-sidebar">
          <div class="title">Notifyte <i class="fa fa-cog nav-icon-settings pull-right" aria-hidden="true" ng-click="showSettings()"></i></div>
          <div class="sub-title">Phone Notifications</div>
          <div class="notification" ng-class="{'active': isActive(key) == true}" ng-repeat="(key, value) in notifications" ng-click="showNotification(key)">
            <i class="fa fa-mobile nav-icon" aria-hidden="true"></i> [[value[0].name]]
          </div>
        </div>
      </div>
    </div>

    <!-- Main Content -->
    <div class="main">
      <div ng-view></div>
    </div>

  </body>
</html>
