# android
*.iml
android/.gradle
android/local.properties
android/.idea/workspace.xml
android/.idea/libraries
.DS_Store
android/build
android/captures

# electron
logs
*.log
npm-debug.log*
node_modules
bower_components
site/static/vendors/
.npm
