/* Global */
body {
  background-color: #ECF0F1;
  color: #222;
}

/*font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
text-rendering: optimizeLegibility;*/

.container-reset {
  /*15px from bootstrap container*/
  margin-left: -15px;
  margin-right: -15px;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  flex: 0 0 25%;
  max-width: 240px; /* used by other classes */
  min-width: 240px;
  z-index: 1000;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #34495E;
  border-right: 1px solid #2C3E50;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -15px;
  margin-bottom: 15px;
  margin-left: -15px;
}

.nav-sidebar > .title {
  color: #fff;
  background-color: #2C3E50;
  padding: 10px 5px 10px 20px;
  max-height: 40px;
}

.nav-sidebar > .sub-title {
  color: #ECF0F1;
  padding: 10px 20px;
  height: 30px;
  max-height: 40px;
  font-weight: bold;
}

.nav-sidebar > .notification {
  color: #fff;
  padding: 10px 5px 10px 20px;
  cursor: pointer;
  max-height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.active {
  background-color: #3d566e;
}

.nav-sidebar > .notification:hover {
  background-color: #46637f;
}

.pointer {
  cursor: pointer;
}

.nav-icon {
  font-size: 18px;
  padding-right: 5px;
}

.nav-icon-close {
  color: rgba(255, 255, 255, .1);
}

.nav-icon-close:hover {
  color: #fff;
}


/* Main content */
.main {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 240px; /* .sidebar width */
}

/* Main navigation */
.nav-main {
  background-color: #d4d8d8;
  padding: 10px 20px;
  height: 40px; /* used by other classes */
  max-height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-main > .title {
  font-weight: bold;
}

.setting-area {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.setting-title {
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 10px;
}

.setting-item {
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #d4d8d8;
}

.setting-item-icon {
  font-size: 64px;
}

.setting-sub-text {
  font-size: 16px;
}

.setting-value {
  padding-left: 5px;
  color: #000;
  font-size: 12px;
}

.chat-area {
  position: fixed;
  top: 40px; /* .nav-main height */
  bottom: 50px; /* .chat-input height */
  left: 240px; /* .sidebar width */
  right: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  overflow-y: scroll;
}

.chat-input {
  position: fixed;
  bottom: 0;
  height: 50px; /* used by other classes */
  padding-top: 1px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  background-color: #ECF0F1;
  margin-right: 0px;
}

.chat-message-super {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-message-name {
  font-weight: bold;
}

.chat-message-timestamp {
  padding-left: 5px;
  color: #BDC3C7;
  font-size: 12px;
}

.chat-message {
  padding-bottom: 5px;
  color: #555;
}

.btn-send {
  color: #ffffff;
  background-color: #34495E;
  border-color: #2C3E50;
}

.btn-send:hover,
.btn-send:focus,
.btn-send:active,
.btn-send.active,
.open .dropdown-toggle.btn-send {
  color: #ffffff;
  background-color: #46637F;
  border-color: #2C3E50;
}
