/* Global */
body {
  background-color: #ECF0F1;
  color: #222;
}

/*font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
text-rendering: optimizeLegibility;*/

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  flex: 0 0 25%;
  max-width: 240px; /* this is used in .main */
  min-width: 240px;
  z-index: 1000;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #34495E;
  border-right: 1px solid #2C3E50;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -15px;
  margin-bottom: 15px;
  margin-left: -15px;
}

.nav-sidebar > .title {
  color: #fff;
  background-color: #2C3E50;
  padding: 10px 20px;
  max-height: 40px;
}

.nav-sidebar > .sub-title {
  color: #ECF0F1;
  padding: 10px 20px;
  height: 30px;
  max-height: 40px;
  font-weight: bold;
}

.nav-sidebar > .notification {
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  max-height: 40px;
}

.active {
  background-color: #3d566e;
}

.nav-sidebar > .notification:hover {
  background-color: #46637f;
}

.nav-icon-settings {
  font-size: 20px;
  cursor: pointer;
}

.nav-icon {
  font-size: 18px;
  padding-right: 5px;
}

/* Main content */
.main {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 240px; /* this is used in .sidebar */
  z-index: 1000;
  display: block;
  overflow-y: scroll;
}

/* Main navigation */
.nav-main {
  margin-right: -15px;
  margin-bottom: 15px;
  margin-left: -15px;
  background-color: #d4d8d8;
  padding: 10px 20px;
  height: 40px;
  max-height: 40px;
}

.nav-main > .title {
  font-weight: bold;
}

.setting-title {
  font-weight: bold;
  padding-bottom: 15px;
}

.setting-item {
  padding-bottom: 2px;
}

.setting-value {
  padding-left: 5px;
  color: #000;
  font-size: 12px;
}

.chat-area {
  height: 100%;
  overflow: auto;
}

.chat-input {
  position:fixed;
  bottom: 0;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-left: -15px; /*15px from bootstrap container*/
}

.chat-message-super {

}

.chat-message-name {
  font-weight: bold;
}

.chat-message-timestamp {
  padding-left: 5px;
  color: #BDC3C7;
  font-size: 12px;
}

.chat-message {
  padding-bottom: 5px;
  color: #555;
}

.btn-send {
  color: #ffffff;
  background-color: #34495E;
  border-color: #2C3E50;
}

.btn-send:hover,
.btn-send:focus,
.btn-send:active,
.btn-send.active,
.open .dropdown-toggle.btn-send {
  color: #ffffff;
  background-color: #46637F;
  border-color: #2C3E50;
}
