/* Global */
body {
  background-color: #ECF0F1;
  color: #000000;
}

/*font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
text-rendering: optimizeLegibility;*/

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  flex: 0 0 25%;
  max-width: 240px; /* this is used in .main */
  min-width: 240px;
  z-index: 1000;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #34495E;
  border-right: 1px solid #2C3E50;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -15px;
  margin-bottom: 15px;
  margin-left: -15px;
}

.nav-sidebar > .title {
  color: #fff;
  background-color: #2C3E50;
  padding: 10px 20px;
  max-height: 40px;
}

.nav-sidebar > .notification {
  color: #fff;
  background-color: #3d566e;
  padding: 10px 20px;
  cursor: pointer;
  max-height: 40px;
  border-bottom: 1px solid #46637f;
}

.nav-sidebar > .notification:hover {
  background-color: #46637f;
}

.nav-icon {
  font-size: 20px;
  cursor: pointer;
}

/* Main content */
.main {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 240px; /* this is used in .sidebar */
  z-index: 1000;
  display: block;
  /*overflow-x: hidden;
  overflow-y: auto;*/
}

/* Main navigation */
.nav-main {
  margin-right: -15px;
  margin-bottom: 15px;
  margin-left: -15px;
  background-color: #d4d8d8;
  padding: 10px 20px;
  height: 40px;
  max-height: 40px;
}

.nav-main > .title {
  color: #34495E;
}
