<div class="container-fluid" ng-controller="notificationController">
  <div class="container-reset nav-main">
    <div class="title text-center">[[currentNotification[0].appName]]: [[currentNotification[0].name]]</div>
  </div>

  <div class="chat-area">
    <div ng-repeat="(key, value) in currentNotification">
      <div class="chat-message-super">
        <span class="chat-message-name">[[value.name]]</span> <span class="chat-message-timestamp">[[value.created | date:'h:mm a']]</span>
      </div>
      <div class="chat-message">
        [[value.message]]
      </div>
    </div>
  </div>

  <div class="container-reset chat-input">
    <form class="input-group" ng-submit="send(form.message)">
      <input type="text" class="form-control" ng-model="form.message">
      <span class="input-group-btn">
        <button class="btn btn-send" type="submit">Send</button>
      </span>
    </form>
  </div>
</div>
